h1{
    color: #505050;
    padding-left: 27px;
    margin-top: -20px;
    padding-bottom: 10px;
}
.verificationbutton{
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #684EDC;
    margin: 25px 45px 13px 44px;
    width: 323px;
    height: 38px;
    font-size: 16px;
    margin-top: 120px;
}